.containerAbm{
    display: grid;
}

.containerTitulo{
    padding: 10px;
    text-align: center;
}

.gridColumn1{
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: rgb(226, 20, 20); /* Puedes ajustar los estilos según tus preferencias */
    padding: 10px;
    text-align: center;
}

.gridColumn2{
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: rgb(226, 20, 185);
    padding: 10px;
    text-align: center;
}

.gridColumn3{
    grid-column:  1 / span 2;
    grid-row: 4;
    background-color: rgb(20, 226, 47);
    padding: 10px;
    text-align: center;
}
 
.gridColumn4{
    grid-column:3 / span 4;
    grid-row: 2;
    background-color: rgb(20, 226, 205);
    padding: 10px;
    text-align: center;
}
.gridColumn5{
    grid-column:3 / span 4;
    grid-row: 3;
    background-color: rgb(226, 20, 123);
    padding: 10px;
    text-align: center;
}
.gridColumn6{
    grid-column:3 / span 4;
    grid-row: 4;
    background-color: rgb(239, 108, 0);
    padding: 10px;
    text-align: center;
}

.gridDetalle{
    grid-column: 1 / span 4;
    grid-row: 5;
    background-color: rgb(128, 0, 255);
    padding: 10px;
    text-align: center;
}